<h1>Stores</h1>

<div class="row">
  <% @stores.each do |store| %>
  <div class="col s12 m6 l3">
    <div class="card medium">
      <div class="card-image">
        <%= image_tag store.items.first.image_path %>
        <span class="card-title"></span>
      </div>
      <div class="card-content">
        <p class="indextitle"> <%=link_to store.name, store_path(store.slug) %> </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
