<div>
	<h3>Please Enter your email to reset your password</h3>
	<p>We will send you an SMS verifcation code</p>
</div>

<div>
	<%= form_for(:password, url: '/password-reset') do |f| %>
			<%= f.label :email, "Email" %>
			<%= f.text_field :email %>
			<%= f.submit "Submit" %>
	<% end %>
</div>